@value color-gray-light from "../../elements/constants/colors.css";
@value size-medium, size-large, size-small-400, size-x-large from "../../elements/constants/size.css";

.body {
    width: 100%;
}

.mainBody {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 60px 0;
    display: flex;
}

@media (min-width: size-small-400) {
    .mainBody {
        padding: 10px 10px 60px 10px;
    }
}

@media (min-width: size-large) {
    .mainBody {
        padding-top: 40px;
    }
}