@value size-large from "../../elements/constants/size.css";

.body {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 280px 10px;
    display: flex;
    flex-direction: column;
}

@media (min-width: size-large) {
    .body {
        padding-top: 40px;
    }
}