.check {
  display: flex;

  align-items: center;
}

.check-order-left {
  flex-direction: row;
}

.check-order-left .label {
  margin-right: 10px;
}

.check-order-right {
  flex-direction: row-reverse;
}

.check-order-right .label {
  margin-left: 10px;
}

.check-status-true .unchecked {
  display: none;
}

.check-status-true .checked {
  display: block;
}

.check-status-false .unchecked {
 display: block;
}

.check-status-false .checked {
  display: none;
}

.checkBox {
  display: none;
}

.label, .unchecked, .checked {
  display: flex;
}

.label {
  margin-top: -3px;
  user-select: none;
}

.unchecked svg {
  width: 17px;
  height: 17px;
}

.checked svg {
  width: 18px;
  height: 17px;
}

