@value color-black from "../../elements/constants/colors.css";
@value size-medium, size-large, size-x-large, size-special-album-wrap from "../../elements/constants/size.css";

.body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background-color: color-black;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    object-fit: contain;
}

.close {
    top: 10px;
    right: 35px;
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 50;
    opacity: 0.6;
    transition: all .3s ease;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.navigator {
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 40;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navibator-button {
    display: flex;
    margin: 30px;
    opacity: 0.6;
    transition: all .3s ease;
}

.navibator-button:hover {
    opacity: 1;
}

.previous {
    composes: navigator;
    width: 20vw;
    left: 0;
    justify-content: flex-start;
}

.previousIcon {
    composes: navibator-button;
}

.next {
    composes: navigator;
    right: 0;
    width: 80vw;
    justify-content: flex-end;
}

.nextIcon {
    composes: navibator-button;
}

.descriptionBlock {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.3;
    z-index: 50;
    transition: 0.2s;
}

.descriptionBlock:hover {
    background-color: rgba(0, 0, 0, 0.7);
   opacity: 1;
}

.title {
    width: 100%;
    color: #fff;
    margin: 20px;
    font-size: 22px;
    display: inline-block;
}

.subtitle {
    width: 100%;
    color: #fff;
    margin: 20px;
    font-size: 16px;
}

.subtitle a {
    font-size: 20px;
}

.titleContainer {
    margin: 0;
}

.like {
    padding: 0 20px;
}