.loader {
    width: 137px;
    background-size: 100%;
    height: 137px;
    background-image: url('https://static.aivis.lv/loader.gif');
}

.loading {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}