@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";
@value color-gray, color-white-transparent, color-white, color-gray-ultra-light, color-shadow from "../../elements/constants/colors.css";

.containerBase {
    display: flex;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.infoContainer {
    flex-basis: calc(100% - 250px);
}

.imageContainer, .infoContainer, .expansionContainer {
    display: flex;
}

.expansionContainer {
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.backButton {
    margin: 15px 0 0px 25px;
    display: inline-block;
    max-width: 200px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    max-width: 200px;
}

.rating {
    position: absolute;
    z-index: 15;
    background-color: color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 color-shadow;
    top: 2px;
    left: 2px;
    width: 40px;
    border-radius: 30px;
    height: 40px;
    cursor: default;
}

.imageContainer {
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid color-white;
    background-color: color-gray-ultra-light;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContainer {
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    margin: 15px 0 15px 20px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    min-width: 180px;
    margin: 20px 0 10px 25px;
}

.title {
    display: flex;
    max-width: 200px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
}

@media (min-width: size-large) {
    .backButton {
        display: none;
    }

    .container {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        background-color: color-white-transparent;
        width: 100vw;
        box-sizing: border-box;
        left: 0;
        border-top: 1px solid color-gray;
    }

    .body {
        flex-direction: row;
        align-items: center;
    }

    .infoContainer {
        margin: 0 0 0 20px;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }
}

.serviceLink {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* --------- Movies ---------*/

.moviesLink img {
    height: 19px;
    width: 31px;
}

/* --------- Anime ---------*/

.animesLink {
    border-radius: 5px;
    overflow: hidden;
}

.animesLink img {
    height: 31px;
    width: 31px;
}

