@value color-white: #ffffff;
@value color-black: #000000;
@value color-gray: #666666;
@value color-dark-gray: #333333;
@value color-gray-light: #cccccc;
@value color-gray-ultra-light: #eeeeee;
@value color-shadow: rgba(0,0,0,.28);
@value color-white-transparent: rgba(255, 255, 255, 0.9);

@value color-selected-item: rgb(136, 0, 0);

@value color-error: #d40a0a;
@value color-success: #8dc63f;