@value size-large, size-medium from "./size.css";

.font-default {
  font-family: 'Ubuntu', 'Arial', 'sans-serif';
  font-size: 20px;
  line-height: 20px;
}

@media (min-width: size-medium) {
  .font-default {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: size-large) {
  .font-default {
    font-size: 12px;
    line-height: 12px;
  }
}

.font-semi-bold {
  composes: font-default;
  font-weight: 500;
}

.font-bold {
  composes: font-default;
  font-weight: 600;
}

.font-extra-bold {
  composes: font-default;
  font-weight: 700;
}

.font-medium {
  composes: font-default;
  font-weight: 400;
}

.font-normal {
  composes: font-default;
  font-weight: 300;
}


