@value size-small: 321px;
@value size-small-400: 401px;
@value size-medium-r: 840px;
@value size-medium: 841px;
@value size-large-r: 1134px;
@value size-large: 1135px;
@value size-x-large-r: 1200px;
@value size-x-large: 1201px;

@value size-special-album-wrap: 1134px;
