@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";
@value color-gray, color-white-transparent, color-white, color-gray-ultra-light, color-shadow from "../../elements/constants/colors.css";

.book {
    margin-bottom: 10px;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.bggLink {
    position: absolute;
    top: 5px;
    right: 4px;
    height: 40px;
    width: 40px;
}

.bggLink svg {
    height: 40px;
    width: 40px;
}

.title {
    text-align: center;
    max-width: 150px;
    margin-left: 5px;
    width: 150px;
}

.image {
    max-width: 150px;
    max-height: 150px;
}

.hide {
    display: none;
}

.body {
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid color-white;
    background-color: color-gray-ultra-light;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    flex-direction: column;
}

.author, .series {
    margin: 0 0 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 160px;
}

.isRead {
    position: absolute;
    top: 50px;
    right: 4px;
    font-size: 28px;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.28);
}

.inSeries {
    composes: isRead;
    top: 100px;
    left: 2px;
    right: unset;
    min-width: 40px;
    width: unset;
    align-items: center;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.isOwned {
    composes: isRead;
    top: 100px;
    color: green;
    padding-top: 6px;
}

.isRead-0 {
    composes: isRead;
    color: color-gray;
}

.isRead-1 {
    composes: isRead;
    color: orange;
}

.isRead-2 {
    composes: isRead;
    color: green;
}


@media (min-width: size-large) {
    .notFullscreen .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}