@value color-white, color-black, color-shadow from "../../elements/constants/colors.css";
@value size-x-large, size-large from "../../elements/constants/size.css";

.body {
    top: 5px;
    position: relative;
    display: flex;
}

.hasOpenBooks {
    display: none;
}

.album {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.filterAndTotal {
    position: absolute;
    top: -30px;
    right: 20px;
}

.totalSelected {
    display: none;
}

@media (min-width: size-large) {
    .hasOpenGame {
        display: block;
    }
}

@media (min-width: size-x-large) {
    .totalSelected {
        display: inline-block;
        padding-left: 10px;
    }
}
