@value color-white, color-black, color-shadow from "../../elements/constants/colors.css";
@value size-special-album-wrap, size-small-400 from "../../elements/constants/size.css";

.album {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container {
    width: 100%;
}

.body {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sessions {
    font-size: 24px;
    line-height: 24px;
    margin: 3px;
    border-radius: 0;
}

@media (min-width: size-small-400) {
    .sessions {
        border-radius: 20px;
    }
}

@media (min-width: size-special-album-wrap) {
    .title {
        margin-left: 10px;
    }

    .center {
        justify-content: flex-start;
    }

    .sessions {
        display: none;
    }

    .container {
        margin-top: 0;
    }

    .title {
        margin-top: 0;
    }
}