@value color-gray, color-white, color-black from "../../elements/constants/colors.css";
@value size-medium, size-large, size-large-r, size-x-large from "../../elements/constants/size.css";

.body {

}

.hideSmall, .hideAll {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.button {
    display: none;
    padding: 5px 7px 7px 7px;
    border-radius: initial;
    margin-bottom: 3px;
}

.buttonSelected {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
}

.subMenu .button {
    display: flex;
}

@media (max-width: size-large-r) {
    .subMenu .button {
        background-color: color-white;
        color: color-black;
    }

    .subMenu .buttonSelected {
        color: color-gray;
        border: none;
        cursor: default;
    }
}


@media (min-width: size-large) {
    .subMenu .button {

    }

    .menu {
        flex-direction: row;
        margin: 0 0 0 20px;
    }

    .button {
        display: flex;
        margin-right: 10px;
        padding: 5px 7px 7px 7px;
        border-radius: 10px;
    }

    .search {
        display: flex;
        align-items: center;
    }

    .hideSmall {
        display: block;
    }
}

