@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";
@value color-gray, color-white-transparent, color-white, color-gray-ultra-light, color-shadow from "../../elements/constants/colors.css";

.containerBase {
    display: flex;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
}

.coverAllContainer .body {
    flex-wrap: wrap;
}

.coverAllContainer .imageContainer {
    flex-basis: 200px;
}

.coverAllContainer .infoContainer {
    flex-basis: calc(100% - 250px);
}

.imageContainer, .infoContainer, .expansionContainer {
    display: flex;
}

.expansionContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.backButton {
    margin: 0 0 10px 25px;
    display: inline-block;
    max-width: 200px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
}

.rating {
    position: absolute;
    z-index: 15;
    background-color: color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 color-shadow;
    top: 2px;
    left: 2px;
    width: 40px;
    border-radius: 30px;
    height: 40px;
}

.imageContainer, .expansionBody {
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid color-white;
    background-color: color-gray-ultra-light;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContainer {
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    margin: 15px 0 15px 20px;
}

.expansionBody {
    display: flex;
    width: 170px;
    height: 170px;
    position: relative;
    flex-direction: column;
}

.expansion {
    width: 170px;
    margin: 0 0 10px 20px;
    box-sizing: border-box;
}

.wishlist .image {
    opacity: 0.2;
}

.wishlist:hover .image {
    opacity: 1;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    min-width: 180px;
    margin: 20px 0 10px 25px;
}

.infoBars {
    display: flex;
    font-weight: 400;
}

.infoBars > :first-child {
    font-weight: 500;
    display: inline-block;
    margin-right: 5px;
}

.lastPlay, .playCount, .playerCountTitle, .playLength {
    composes: infoBars;
    line-height: 36px;
}

.playerCount {
    font-weight: 400;
    line-height: 36px;
}

.title {
    display: flex;
    max-width: 200px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
}

.expansionTitle {
    width: 100%;
    text-align: center;
}

.bggLink {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 70px;
    width: 47px;
}

.preordered {
    position: absolute;
    top: 55px;
    right: 5px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 0 color-shadow;
}

.wishlistPriority {
    display: flex;
    position: absolute;
    top: 85px;
    right: 5px;
    padding: 5px;
    background-color: color-white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 color-shadow;
}

.wishlistPriorityIcon-1 {
    color: darkgreen;
}

.wishlistPriorityIcon-2 {
    color: yellowgreen;
}

.wishlistPriorityIcon-3 {
    color: yellow;
}

.wishlistPriorityIcon-4 {
    color: orange;
}

.wishlistPriorityIcon-5 {
    color: #880000;
}


.bggLink svg {
    height: 70px;
    width: 47px;
}

@media (min-width: size-large) {
    .container {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        background-color: color-white-transparent;
        width: 100vw;
        box-sizing: border-box;
        left: 0;
        border-top: 1px solid color-gray;
    }

    .container .backButton {
        display: none;
    }

    .body {
        flex-direction: row;
        align-items: center;
    }

    .infoContainer {
        margin: 0 0 0 20px;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .lastPlay, .playCount, .playerCount, .playLength {
        line-height: 24px;
    }

    .bggLink {
        height: 38px;
        width: 25px;
    }


    .bggLink svg {
        height: 38px;
        width: 25px;
    }
}

.tagContainer {
    flex-direction: row;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    margin: 0 0 0 20px;
}

@media (min-width: size-large) {
    .tagContainer {
        flex-direction: column;
        width: auto;
        align-items: flex-start;
    }

    .coverAllContainer .tagContainer {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
}

.tag {
    display: flex;
    margin: 5px;
    opacity: 0.7;
    color: #000;
    padding: 5px 10px;
    width: auto;
    font-size: 12px;
    line-height: 12px;
}

.tagTitle {
    display: none;
    font-size: 16px;
}

@media (min-width: size-large) {
    .tagTitle {
        display: block;
    }
}