@value color-selected-item from "../../elements/constants/colors.css";
@value size-small-400, size-special-album-wrap from "../../elements/constants/size.css";

.thumb {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-out;
    cursor: pointer;
}

.thumb:hover {

}

.open, .open:hover {
    border: 3px solid color-selected-item;
}

.image {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}

.title {
    line-height: 32px;
    font-size: 26px;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-out;
    display: flex;
    width: 100%;
}

.titleContainer {
    position: absolute;
    bottom: 0;
    line-height: 32px;
    font-size: 30px;
    background-color: #eee;
    opacity: .7;
    width: 100%;
    height: 60px;
    text-align: center;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    align-content: center;
}

@media (min-width: size-small-400) {
    .thumb {
        border: 3px solid #fff;
        border-radius: 10px;
        width: 250px;
        height: 250px;
        margin: 10px;
    }

    .image {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: size-special-album-wrap) {
    .thumb {
        width: 400px;
        height: 400px;
    }

    .titleContainer {
        height: 3em;
    }

    .title {
        font-size: 30px;
        line-height: 44px;
    }

    .thumb:hover .title {
        font-size: 40px;
    }

    .thumb:hover .titleContainer {
        opacity: 0.9;
        height: 400px;
    }

    .image {
        width: 400px;
        height: 400px;
    }
}