@value  color-white, color-aqua, color-gray-light, color-orange, color-gray-medium-dark, color-error, color-success from "../constants/colors.css";

.notification {
  composes: font-semi-bold from '../constants/fonts.css';

  transition: all 0.2s ease-out;
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px 33px 15px 33px;
}

.gray {
  composes: notification;

  background-color: color-gray-light;
  color: color-gray-medium-dark;
}

.error {
  composes: notification;

  background-color: color-error;
  color: color-white;
}

.success {
  composes: notification;

  background-color: color-success;
  color: color-white;
}
