@value color-black, color-white from "../constants/colors.css";
@value size-medium, size-medium-x, size-large from "../constants/size.css";

.h1 {
  composes: font-extra-bold from '../constants/fonts.css';
  font-size: 26px;
  line-height: 26px;
}

.h2 {
  composes: font-extra-bold from '../constants/fonts.css';
  font-size: 24px;
  line-height: 24px;
}

.h3 {
  composes: font-extra-bold from '../constants/fonts.css';
  font-size: 20px;
  line-height: 20px;
}

.h4 {
  composes: font-semi-bold from '../constants/fonts.css';
  font-size: 20px;
  line-height: 20px;
}

.normal {
  composes: font-medium from '../constants/fonts.css';
  font-size: 20px;
  line-height: 20px;
}

.price {
  composes: font-extra-bold from '../constants/fonts.css';
  font-size: 30px;
  line-height: 30px;
}

.title {
  composes: font-bold from '../constants/fonts.css';
  font-size: 24px;
  color: color-white;
  letter-spacing: 0.1em;
}

.tabHeading {
  composes: font-extra-bold from '../constants/fonts.css';
  font-size: 24px;
}

@media (min-width: size-large) {
  .h1 {

  }

  .h2 {
    font-size: 18px;
    line-height: 18px;
  }

  .h3 {
    font-size: 12px;
    line-height: 12px;
  }

  .h4 {
    font-size: 12px;
    line-height: 12px;
  }

  .normal {
    font-size: 12px;
    line-height: 12px;
  }

  .price {
    font-size: 24px;
    line-height: 24px;
  }

  .title {
    font-size: 24px;
    letter-spacing: 0.1em;
  }

  .tabHeading {
    font-size: 24px;
  }
}
