@value color-white, color-black, color-gray from "../constants/colors.css";

/* BASES */

.icon {

}

.button-icon svg {
  transition: all 0.2s ease-out;
}

/* SIMPLES */

.black {
  composes: icon;
}

.black svg {
  fill: color-black;
}

.white {
  composes: icon;
}

.white svg {
  fill: color-white;
}

.gray {
  composes: icon;
}

.gray svg {
  fill: color-gray;
}

.white-black {
  composes: button-icon;
}

.white-black svg {
  fill: color-white;
}

.white-black:hover svg {
  fill: color-black;
}
