@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";
@value color-gray, color-white-transparent, color-white, color-gray-ultra-light, color-shadow from "../../elements/constants/colors.css";

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.bggLink {
    position: absolute;
    top: 5px;
    right: 4px;
    height: 40px;
    width: 40px;
}

.bggLink svg {
    height: 40px;
    width: 40px;
}

.title {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.image {
    max-width: 150px;
    max-height: 150px;
}

.hide {
    display: none;
}

.body {
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid color-white;
    background-color: color-gray-ultra-light;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    flex-direction: column;
}

.author, .series {
    margin: 0 0 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 160px;
}