@value color-white, color-black, color-shadow,color-gray-light, color-gray-ultra-light from "../../elements/constants/colors.css";
@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";

.thumb {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.thumbContainer {
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid color-white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
    background-color: color-gray-ultra-light;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.loader {
    background-image: url('https://static.aivis.lv/loader.gif');
}

.thumb:hover .thumbContainer {
    transform: scale(1.25);
    box-shadow: 2px 2px 8px 0 color-shadow;
    border: 4px solid color-white;
    z-index: 999;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.title {
    display: block;
    position: absolute;
    background-color: color-white;
    width: 100%;
    text-align: center;
    bottom: 0;
    line-height: 30px;
    font-size: 16px;
    z-index: 2;
}

.thumb:hover .title {
    display: block;
    opacity: 0.8;
}

.bubble {
    position: absolute;
    z-index: 15;
    background-color: color-white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 color-shadow;
    top: 2px;
}

.rating {
    display: flex;
    composes: bubble;
    left: 2px;
    width: 40px;
    border-radius: 30px;
    height: 40px;
}

.serviceIcon {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    height: 15px;
    width: 25px;
    border-radius: 5px;
    overflow: hidden;
}

.serviceIcon img {
    height: 15px;
    width: 25px;
}

.thumb:hover .serviceIcon{
    display: flex;
}

/* ---------- IMDB Icon ---------- */

.imdbMode .serviceIcon {
    height: 15px;
    width: 25px;
}

.imdbMode .serviceIcon img {
    height: 15px;
    width: 25px;
}

/* ---------- MAL Icon ---------- */

.malMode .serviceIcon {
    height: 25px;
    width: 25px;
}

.malMode .serviceIcon img {
    height: 25px;
    width: 25px;
}


/* ---------- Gooodreads Icon ---------- */

.goodreadsMode .serviceIcon {
    height: 40px;
    width: 40px;
}

.goodreadsMode .serviceIcon svg {
    height: 40px;
    width: 40px;
}

.goodreadsMode .title {
    display: none;
}

.isRead {
    position: absolute;
    top: 50px;
    right: 4px;
    font-size: 28px;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.28);
    opacity: 0.7;
}

.isOwned {
    composes: isRead;
    top: 100px;
    color: green;
    padding-top: 6px;
}

.isRead-0 {
    composes: isRead;
    color: color-gray;
}

.isRead-1 {
    composes: isRead;
    color: orange;
}

.isRead-2 {
    composes: isRead;
    color: green;
}

.thumb:hover .isRead {
    opacity: 1;
}

/* ---------- BGG Icon ---------- */

.bggMode .serviceIcon {
    top: 74px;
    height: 38px;
    width: 25px;
}

.bggMode .serviceIcon svg {
    height: 38px;
    width: 25px;
}

.lastPlay {
    display: flex;
    position: absolute;
    top: 39px;
    right: 2px;
    font-size: 20px;
    background-color: color-white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 color-shadow;
}

.preordered {
    display: flex;
    position: absolute;
    top: 49px;
    left: 2px;
    font-size: 20px;
    background-color: color-white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 color-shadow;
}

.playCount {
    transition: all .3s ease;
    display: flex;
    opacity: 0.6;
    composes: bubble;
    right: 2px;
}

.thumb:hover .playCount {
    display: flex;
    opacity: 1;
}

.bggMode .title {
    display: none;
}

/*
.biiig {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 40px;
    color: #fff;
    text-shadow: 0px 0px 8px #000000;
}
 */

.title.noImage {
    opacity: 1;
    display: block;
}

.wishlistPriority {
    display: flex;
    position: absolute;
    top: 89px;
    left: 2px;
    font-size: 20px;
    background-color: color-white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 color-shadow;
}

.wishlistPriorityIcon-1 {
    color: darkgreen;
}

.wishlistPriorityIcon-2 {
    color: yellowgreen;
}

.wishlistPriorityIcon-3 {
    color: yellow;
}

.wishlistPriorityIcon-4 {
    color: orange;
}

.wishlistPriorityIcon-5 {
    color: #880000;
}