@value color-white, color-black, color-gray, color-dark-gray, color-gray-light from "../constants/colors.css";
@value size-medium, size-medium-x, size-large from "../constants/size.css";

.button {
  composes: font-bold from '../constants/fonts.css';

  text-transform: uppercase;
  padding: 12px 33px 10px 33px;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  outline: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.button:disabled {
  cursor: default;
}

@media (min-width: size-large) {
  .button {
    width: auto;
  }
}

.black {
  composes: button;
  color: color-white;
  background-color: color-black;
  border-color: color-black;
}

.black:hover {
  color: color-black;
  background-color: color-white;
}

.gray {
  composes: button;
  color: color-white;
  background-color: color-gray;
  border-color: color-black;
}

.gray:hover {
  color: color-black;
  background-color: color-white;
}

.dark-gray {
  composes: button;
  color: color-white;
  background-color: color-dark-gray;
  border-color: color-black;
}

.dark-gray:hover {
  color: color-black;
  background-color: color-white;
}

.only-black {
  composes: button;
  color: color-white;
  background-color: color-black;
  border-color: color-black;
}

.only-white {
  composes: button;
  color: color-black;
  background-color: color-white;
  border-color: color-black;
}

.only-light-gray {
  composes: button;
  color: color-black;
  background-color: color-gray-light;
  border-color: color-black;
}

.white {
  composes: button;
  color: color-gray;
  background-color: color-white;
  border-color: color-gray;
}

.white:hover {
  color: color-white;
  background-color: color-black;
}

.logoIcon {

}
