@value color-white, color-black, color-gray-navigation from "../../elements/constants/colors.css";
@value size-medium, size-large, size-x-large, size-medium from "../../elements/constants/size.css";

.body {
    width: 100%;
    background-color: color-black;
    display: flex;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
}

.menu {
    display: none;
    width: 100%;
    background-color: color-white;
}

.logo {
    display: none;
}

.left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropIcon {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 9px;
}

.dropElement {
    cursor: pointer;
}

.toogleDisplay {
    display: flex;
}

.menuDisplay {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.button {
    padding: 1em;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: unset;
    margin-bottom: 10px;
}

.selctedButton {
    composes: button;
}

.padding {
    margin-top: 60px;
}

/*
@media (min-width: size-medium) {
    .body {
        height: 90px;
    }

    .dropElement svg {
        height: 65px;
        width: 65px;
    }

    .dropIcon {
        margin-bottom: 19px;
    }
}
 */

@media (min-width: size-large) {
    .left {
        width: unset;
    }

    .dropIcon {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: unset;
        background-color: inherit;
    }

    .menuDisplay {
        flex-direction: row;
    }

    .body {
        width: 100%;
        background-color: color-black;
        display: flex;
        height: 15px;
        justify-content: space-between;
    }

    .padding {
        margin-top: 15px;
    }

    .button {
        height: 4.5em;
        display: flex;
        margin-left: 10px;
        position: relative;
        top: -15px;
        border-bottom-left-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        border-top-right-radius: unset;
        border-top-left-radius: unset;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .button:hover {
        top: 0;
        border-top: color-white;
    }

    .selctedButton:hover {
        top: -10px;
    }

    .menu {
        display: flex;
    }
}

@media (min-width: size-x-large) {

    .button {
        padding: 2em;
    }

    .logo {
        display: flex;
    }

    .logoImage {
        height: 32px;
    }

    .logoButton {
        composes: button;
        height: 60px;
        margin-right: 10px;
    }
}
