@value  color-white, color-aqua, color-gray, color-orange, color-gray-dark from "../constants/colors.css";

.link {
  composes: font-bold from '../constants/fonts.css';

  transition: all 0.2s ease-out;
  display: inline-block;
  text-decoration: none;
}

.none {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.gray-black {
  composes: link;
  color: color-gray;
}

.gray-black:hover {
  color: color-gray-dark;
}

.white-orange {
  composes: link;
  color: color-white;
}

.white-orange:hover {
  color: color-orange;
}

.white-aqua {
  composes: link;
  color: color-white;
}

.white-aqua:hover {
  color: color-aqua;
}

.black-aqua {
  composes: link;
  color: color-gray-dark;
}

.black-aqua:hover {
  color: color-aqua;
}
