@value color-white, color-black, color-shadow from "../../elements/constants/colors.css";
@value size-special-album-wrap from "../../elements/constants/size.css";

.body {
    top: -20px;
    position: relative;
    display: none;
}

.album {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

@media (min-width: size-special-album-wrap) {
    .body {
        display: flex;
    }
}