@value color-white, color-black, color-shadow from "../../elements/constants/colors.css";
@value size-x-large, size-large from "../../elements/constants/size.css";

.body {
    top: 5px;
    position: relative;
    display: flex;
}

.hasOpenAuthor, .hasOpenAuthorBooks {
    display: none;
}

.album {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.totalSelected {
    display: none;
    position: absolute;
    top: -30px;
    right: 20px;
}

@media (min-width: size-large) {
    .hasOpenAuthor {
        display: flex;
    }
}

@media (min-width: size-x-large) {
    .totalSelected {
        display: block;
    }
}