@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";

@value color-gray, color-white-transparent, color-white, color-gray-ultra-light, color-shadow from "../../elements/constants/colors.css";

.overlay {
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.body {
    max-width: 400px;
    height: Calc(100% - 25%);
    background-color: #fff;
    box-shadow: 14px 10px 16px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 10px 16px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 10px 16px -2px rgba(0, 0, 0, 0.75);
    border-radius: 5px 5px;
    padding: 10px;
    overflow: auto;
}

.section {

}

.title {
    padding: 10px 0;
}

.button {
    margin: 3px;
}

.top {
    composes: button;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.section {

}

.sectionBody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tagSectionBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.closeContainer {
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.close {
    padding: 15px;
    font-size: 20px;
}

.select {
    border-radius: 20px;
}

.category {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.catTitle {
    width: 100%;
    text-transform: capitalize;
    margin: 5px;
}