@value size-large from "../../elements/constants/size.css";

.body {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 100px 10px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 20px;
}

h4 {
    font-size: 26px;
}

p {
    font-size: 20px;
    line-height: 28px;
}

@media (min-width: size-large) {
    .body {
        padding-top: 40px;
    }
}