@value color-white, color-black, color-gray-navigation from "../../elements/constants/colors.css";
@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";

.body {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 15px;
    z-index: 20;
    background-color: color-black;
    justify-content: flex-end;
    display: flex;
}

.button {
    height: 4.5em;
    display: flex;
    margin: 0;
    position: relative;
    top: -20px;
    width: 100%;
    border-radius: unset;
    background-color: color-black;
    color: color-white;
    box-sizing: border-box;
}

.about {
    display: flex;
    width: 100%;
    background-color: color-black;
}

.logoButton {
    composes: button;
    height: 20px;
}

.copyright {
    font-size: 10px;
    line-height: 10px;
}

@media (min-width: size-large) {
    .button {
        margin-left: 10px;
        top: -20px;
        width: unset;
        border-top-right-radius: 10px 10px;
        border-top-left-radius: 10px 10px;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        margin-bottom: 0;
    }

    .about {
        width: unset;
    }

    .button:hover {
        top: -40px;
        border-top: color-white;
    }

    .logoButton {
        height: 60px;
        margin-right: 10px;
    }

    .copyright {
        font-size: 20px;
        line-height: 20px;
    }
}
