.imageBody {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://static.aivis.lv/loader.gif');
    height: 100vh;
}

.image {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    object-fit: contain;
    transition: opacity 1s ease;
}

.descriptionBlock {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.3;
    z-index: 50;
    transition: 0.2s;
    max-width: 100%;
    overflow: hidden;
}

.title {
    width: 100%;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 22px;
}

.subtitle {
    width: 100%;
    color: #fff;
    padding: 0 20px 10px 20px;
    font-size: 16px;
}

.descriptionBlock:hover {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    bottom: 0;
}

.like {
}

