@value color-black from "../../elements/constants/colors.css";
@value size-medium, size-large, size-x-large, size-special-album-wrap from "../../elements/constants/size.css";

.body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background-color: color-black;
    transition: all .3s ease;
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

.imageContainer {
    display: flex;
    justify-content: flex-start;
}

.close {
    top: 10px;
    right: 15px;
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 50;
    opacity: 0.6;
    transition: all .3s ease;
    cursor: pointer;
}

.close svg {
    height: 60px;
    width: 60px;
}

.close:hover {
    opacity: 1;
}

@media (min-width: size-large) {
    .close {
        height: 30px;
        width: 30px;
    }
}