.image {
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

.thumb {
  composes: image;
  height: 100px;
  width: 100px;
}

.thumb-selected {
  composes: image;
  height: 110px;
  width: 110px;
}

.thumb-selected-mobile {
  composes: image;
  height: 120px;
  width: 120px;
}

.thumb-large {
  composes: image;
  height: 160px;
  width: 160px;
}

.large {
  composes: image;
  height: 420px;
  width: 420px;
}
