@value color-white, color-black, color-shadow from "../../elements/constants/colors.css";
@value size-medium, size-large, size-x-large from "../../elements/constants/size.css";

.thumb {
    display: flex;
    width: 400px;
    height: 400px;
    margin: 15px;
    cursor: pointer;
    position: relative;
}

.thumbContainer {
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid color-white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
    background-color: color-white;
    background-image: url('https://static.aivis.lv/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.thumb:hover .thumbContainer {
    transform: scale(1.25);
    box-shadow: 2px 2px 8px 0 color-shadow;
    border: 4px solid color-white;
    z-index: 999;
}

.image {
    width: 400px;
    height: 400px;
}

.title {
    display: block;
    position: absolute;
    background-color: color-white;
    width: 100%;
    text-align: center;
    bottom: 0;
    opacity: .6;
    line-height: 30px;
    font-size: 16px;
    z-index: 2;
    transition: all .3s ease;
}

.thumb:hover .title {
    opacity: 1;
}