@value color-white, color-aqua, color-gray, color-success, color-error, color-orange, color-gray-dark, color-gray-light-placeholder, color-gray-light-input from "../constants/colors.css";

.inputElement{
  composes: font-medium from "../constants/fonts.css";
  border-radius: 5px;
  border: 1px solid color-gray;
  font-size: 12px;
  height: 32px;
  box-sizing: border-box;
  line-height: 30px;
  padding: 0 16px;
  width: 100%;
  outline: none;
}

.inputElement::placeholder {
  color: color-gray-light-placeholder;
  font-size: 12px;
}

.input-state-error input {
  border-color: color-error;
  color: color-error;
}

.input-state-normal input {
  border-color: color-gray;
  color: color-gray;
}

.input-state-success input {
  border-color: color-success;
  color: color-success;
}

.input-state-light input {
  border-color: color-gray;
  color: color-gray-light-input;
}
