@value  color-gray-light, color-black from "../constants/colors.css";

.icon {
  height: 46px;
  width: 46px;
  border-radius: 23px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

.name {
  composes: font-bold from '../constants/fonts.css';
  font-size: 20px;
  background-color: color-gray-light;
  color: color-black;
  line-height: 46px;
  text-align: center;
  height: 100%;
  text-transform: uppercase;
  width: 100%;
  user-select: none;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
