@value color-gray-light from "../../elements/constants/colors.css";
@value size-special-album-wrap, size-small-400 from "../../elements/constants/size.css";

.album {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.body {
    display: flex;
}

.sessions {
    margin: 10px 3px 10px 3px;
    border-radius: 0;
}

@media (min-width: size-small-400) {
    .sessions {
        border-radius: 20px;
    }
}

@media (min-width: size-special-album-wrap) {
    .album {
        flex-direction: column;
        justify-content: flex-start;
    }

    .body {
        border-right: 1px solid color-gray-light;
        margin-right: 20px;
        padding-right: 10px;
    }
}